<% include partials/header %>
	<body id = "body" onload = "activateCollection(); get_collection(); startInterval();">
	
	<% include partials/nav %>
	
	<div id = "p" class="pokeObj"></div>
	
<div id="myModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close" onclick="closeModal()">&times;</span>
			<h2>Pokedex</h2>
		</div>
		<!--display the pokemon-->
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-3" id="modalPokemon">
					<img id="modalImg" src="">
					<p id = "modalText">Some Text</p>
				</div>
				<div class="col-sm-9">
					<h4></h4>
					<p id = "pokeData"></p>
				</div>
			</div>
		</div>
		<!--move to the next or previous pokemon -->
		<div class="modal-footer">

		</div>
	</div>
</div>

	<div id = "notif_bar" class="alert alert-danger alert-dismissable" style= "display: none;">
    	<a id = "notif_close" class="close" style = "right: 1vw;" onclick = "closeNotif();" >×</a>
    	Alert Goes Here
  	</div>

<script type="text/javascript" src="/js/collection.js"></script>

<% include partials/footer %>