<% include partials/header %>

<!--Search tab -->
<body onload="activateSearch(); loadAllNames(); startInterval();">

    <% include partials/nav %>

    <div class = "cont-search container" onload = "clickSearch()">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="content">
    				<div id="searchText">
    					<h1>Search</h1>
    					<h3>Find out more about your favourite pokemon</h3>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class = "row">
    		<div class ="col-lg-12">
    			<div class = "content">
    				<!-- HTML related to the search bar area -->
    				<div id="search-area">
    					<input type="text" id="inputHelpBlock" placeholder="Pokemon" class="form-control" aria-describedby="helpBlock">
    					<span id="helpBlock" class="help-block">Enter a Pokemon Name or ID</span>
    					<button class = "btn btn-default btn-lg"  data-toggle="modal" onclick="lookupPokemon()">Search</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <!--search result box -->
    <div id="myModal" class="modal">
    	<div class="modal-content">
    		<div class="modal-header">
    			<span class="close" onclick="closeModal()">&times;</span>
    			<h2>Pokedex</h2>
    		</div>
    		<!--display the pokemon-->
    		<div class="modal-body">
    			<div class="row">
    				<div class="col-sm-3" id="modalPokemon">
    					<img id="modalImg" src="">
    					<p id = "modalText">Some Text</p>
    				</div>
    				<div class="col-sm-9">
    					<h4></h4>
    					<p id = "pokeData"></p>
    				</div>
    			</div>
    		</div>
    		<!--move to the next or previous pokemon -->
    		<div class="modal-footer">
    			<h3></h3>
    			<button type="button" class="btn btn-danger" id = "prevBtn" onclick="prevBtnEvent()">Previous</button>
    			<button type="button" class="btn btn-danger" id = "nextBtn" onclick="nextBtnEvent()">Next</button>
    		</div>
    	</div>
    </div>
    
    	<div id = "notif_bar" class="alert alert-danger alert-dismissable" style= "display: none;">
        	<a id = "notif_close" class="close" style = "right: 1vw;" onclick = "closeNotif();" >×</a>
        	Alert Goes Here
      	</div>
    
    
    <script type="text/javascript" src="/js/search.js"></script>
    <script>
    	loadAllNames();		
    </script>
    
    <!--<script type="text/javascript">
    	window.onclick = function(event) {
    	    if (event.target == $("#myModal")) {
    	        modal.style.display = "none";
    	    }
    	}
    </script> -->

<% include partials/footer %>